<h1>List</h1>
<p>Title: <%= @list.title %></p>
<p>Description: <%= @list.description %></p>

<%= link_to 'Edit List', edit_list_path(@list) %> |

<%= link_to 'All Lists', lists_path %>

<hr>

<%if @list.items.any? %>
  <h3>Incomplete Items:</h3>
    <% if @incomplete.any? %>
      <% @incomplete.each do |item| %>
        <ul>
          <li>
            <%= link_to item.title, list_item_path(@list, item) %><br>
          </li>
       </ul>
      <% end %>
    <% else %>
      <h5>Please add something!</h5>
    <% end %>

  <h3>Completed Items:</h3>
    <% if @complete.any? %>
      <% @complete.each do |item| %>
        <ul>
          <li>
            <%= link_to item.title, list_item_path(@list, item) %><br>
          </li>
        </ul>
      <% end %>
    <% else %>
      <h5>Nothing, get out there and do something!</h5>
    <% end %>

  <h3>Pending Items:</h3>
    <% if @pending.any? %>
      <% @pending.each do |item| %>
        <ul>
          <li>
            <%= link_to item.title, list_item_path(@list, item) %> 
          </li>

          <% if current_user.id == @list.user_id %>
            <%= form_for [@list, item] do |f| %>
     					<%= f.hidden_field :assigned, value: true %>
   						<%= f.submit 'Accept' %>
   					<% end %>
   					<%= form_for [@list, item] do |f| %>
     					<%= f.hidden_field :complete, value: true %>
    				 	<%= f.submit 'Reject' %>
   					<% end %>
          <% end %>

        </ul>
      <% end %>
    <% else %>
      <h5>Nothing, please add something!</h5>
    <% end %>


  <h3>Rejected Items:</h3>
    <% if @rejected.any? %>
      <% @rejected.each do |item| %>
        <ul>
          <li>
            <%= link_to item.title, list_item_path(@list, item) %><br>
          </li>
        </ul>
      <% end %>
    <% else %>
      <h5>Nothing, please add something!</h5>
    <% end %>

<% else %>
  <h3>Please add something:</h3>
<% end %>


<hr>

<h3>Add New Item:</h3>

<%= render(partial: 'items/form') %>
