<div class="center-align container">
  <%= form_for [@list, @item], :html => { :multipart => true } do |f| %>
    <div class="row">
      <div class="input-field col s2 offset">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    </div>

      <div class="row">
        <div class="input-field col s2 offset">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
     </div>

      <div class="row">
        <div class="input-field col s2 offset">
          <% if @item.persisted? %> 
            <%= f.check_box :complete %>
            <%= f.label :complete, id:'complete' %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s2 offset">
          <% if @item.persisted? %>
            <%= f.check_box :assigned %>
            <%= f.label :assigned, id:'assigned' %>
          <% end %>
        </div>
      </div>

    <%= f.submit %>
  <% end %>
</div>

