<!DOCTYPE html>
<html>
<head>
  <title>HoneyDew</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

<%= render 'layouts/navbar' %>

<% if flash.any? %>
	<% flash.each do |key, value| %>
	 <script>
	   Materialize.toast("<%= value %>", 4000, 'rounded left-align orange lighten-2' );
	 </script>
	<% end %>
<% end %>

<div class="container">

	<%= yield %>

</div>

</body>
</html>
